<div class='sign_in'>

  <h1>Sign in here!</h1></br>
  <form action="/sessions" method='post'>
    <label for="email">Email:</label>
    <input type="text" name="email" required></br></br>
    <label for="password">Password:</label>
    <input type="password" name="password"></br></br>
    <input class='button' type="submit" value="Sign in">
  </form>
</div>
