  <form action='/tags' method='post'>
  <label for="filter_by_tag">Filter by tag:</label>
  <input type="text" name="filter_by_tag"></br></br>
  <input class='button' type="submit" value="Filter">
  </form>


  <div class='view_links'>
    <h1> BOOKMARKS </h1></br>
    <ul id='links'>
      <% @links1.each do |link| %>
      <p>
        <li><strong>Title: </strong> <%= link.title  %> =>
          <strong>URL: </strong> <%= link.url %></li>
          <strong>Tag(s): </strong> <% link.tagged_value.each do |entry| %><%= entry.tag %> <% end %>
        </p>
        <% end %>
      </ul>
    </div>
