<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>

  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Bookmark Manager </a></li>
      <li> <a href='links'>View links </a></li>
      <li> <a href="/links/new"> Add link </a></li>
      <li > <a href="#"> Sign up </a></li>
      <li> <a href="#"> Sign in </a></li>
    </ul>
  </nav>

  <form action='/tags' method='post'>
  <label for="filter_by_tag">Filter by tag:</label>
  <input type="text" name="filter_by_tag"></br></br>
  <input class='button' type="submit" value="Filter">
  </form>


  <div class='view_links'>
    <h1> BOOKMARKS </h1></br>
    <ul id='links'>
      <% @links1.each do |link| %>
      <p>
        <li><strong>Title: </strong> <%= link.title  %> =>
          <strong>URL: </strong> <%= link.url %></li>
          <strong>Tag(s): </strong> <% link.tagged_value.each do |entry| %><%= entry.tag %><% end %>
        </p>
        <% end %>
      </ul>
    </div>

  </body>
  </html>
