<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>

</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Bookmark Manager </li>
        <li> <a href='links'>View links </a></li>
        <li>  <a href="/links/new"> Add link </li></a>
        <li> <a href="#"> Sign up</li>
          <li> <a href="#"> Sign in</li>
          </ul>
        </nav>

        <div class='link_style'>
          <h1>Add Link</h1>
          <form action="/links" method='post'>
            URL: <input type="text" name="url"></br></br>
            Title: <input type="text" name="title"></br></br>
            <input class='button' type="submit" value="Submit">
          </form>

        </div>

      </body>
      </html>
