<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>

  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Bookmark Manager </a></li>
      <li> <a href='links'>View links </a></li>
      <li> <a href="/links/new"> Add link </a></li>
      <li > <a href="#"> Sign up </a></li>
      <li> <a href="#"> Sign in </a></li>
    </ul>
  </nav>


  <div class='view_links'>
Bubbles
  </div>

  </body>
  </html>
