  <div class='text_on_page'>
    <h3>The following bookmark manager will help you keep track of your favourite links, search for specifics and list them based on their tags.</h3>

    <img src='/css/bookmark.jpg' width=50% height=50%></img>
  </div>
