<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="/">Bookmark Manager</a> </li>
      <li> <a href='links'>View links </a></li>
      <li> <a href="/links/new"> Add link </a></li>
      <li> <a href="#"> Sign up</a></li>
      <li> <a href="#"> Sign in</a></li>
    </ul>
  </nav>
  <div class='text_on_page'>
    <h3>The following bookmark manager will help you keep track of your favourite links, search for specifics and list them based on their tags.</h3>

    <img src='/css/bookmark.jpg' width=50% height=50%></img>
  </div>
</body>
</html>
