<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <nav>
    <ul>
      <li> <a href="#">Bookmark Manager </li>
        <li> <a href='links'>View links </a></li>
        <li> <a href="/links/new"> Add link </li></a>
        <li> <a href="#"> Sign up</li>
          <li> <a href="#"> Sign in</li>
          </ul>
        </nav>

        <img src='/css/bookmark.jpg' width=80% height=80%></img>
      </body>
      </html>
